.button {
    background-color: cadetblue;
    color: white;
    border: none;
    margin: 1px;
    border-radius: 3px;
    cursor: pointer;

    &__large {
        font-size: 25px;
        padding: 7px;
     
    }
    &__small {
        font-size: 18px;
        padding: 5px;
    }
    &--red{
        background-color:red;
    }
    &--green{
        background-color: green;
    }
}